body {
    background-color: #B4B4B8;
    color: #E3E1D9;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


nav {
    background-color: #E3E1D9;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #B4B4B8;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: #000000;
}

.menu-toggle {
    display: block;
    cursor: pointer;
}

.nav-links {
    display: none;
}

/* Add a media query for responsiveness */
@media (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #E3E1D9;
        z-index: 1;
    }

    .nav-links a {
        padding: 10px;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #B4B4B8;
    }
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.skill-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
    transform: scale(1.05);
}

.skill-card h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.skill-card p {
    color: #666;
    font-size: 1.1em;
    line-height: 1.4;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#E3E1D9 ;
    color:#B4B4B8;
    text-align: center;
  }
  
  
  